<!DOCTYPE html>

<title>Hello InstallerController!</title>

{% block body %}
 {{ form_start(form) }}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
 {{ form_end(form) }}
{% endblock %}
