{% extends 'back/base.html.twig' %}

{% block title %}New ScreenContent{% endblock %}

{% block body %}
    <h1>Create new ScreenContent</h1>

    {{ include('back/screen_content/_form.html.twig') }}

    <a href="{{ path('app_back_screen_content_index') }}">back to list</a>
{% endblock %}
