

<div class="example-wrapper">
   
        <img src="http://localhost/assets/images/logo.png" />
        <h1>Déploiement du site {{ nameExploit }}</h1>
        <h2>Bonjour</h2>
 
        <p>Vous recevez ce mail automatique, pour vous prévenir que le {{ nameExploit }} a été déploqyé ce jour</p>
        <p>Votre administrateur reviendra vers vous dès que possible pour les autres étapes de mise en place</p>    
    <p>Bien à vous</p>
    <p>L'administrateur du site</p>
</div>

